
// Colors
$yellow: #fdffa0;
$black: #414141;
$grey: #DBDBDB;
$greyLabel: #9e9e9e;
$white-alt: #f7f7f7;
$green: #00b348;
$blue: #000076;
$colorLink: #50a8e7;
// shadow
$shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;