.box {
  background: #fff;
  border-radius: 8px;
  border: 0.5px solid $grey;
  box-shadow: $shadow;
  overflow: hidden;
  padding: 1em 0 0 0;

  @media (min-width: 767px) {
    box-sizing: border-box;
    display: block;
    height: fit-content;
    margin: 0 1em 2em 1em;
    overflow: hidden;
    width: 55vw;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  .box-top-area {
    & > div {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 1em;
      h1 {
        color: $black;
        font-size: 1.21em;
        font-weight: 600;
        @media (min-width: 767px) {
          font-size: 1.4em;
        }
      }

      .box-btn {
        button {
          background: $white-alt;
          border-radius: 3px;
          border: 0;
          border: 1px solid $grey;
          color: $black;
          cursor: pointer;
          font-size: 1em;
          font-weight: 600;
          padding: 0.44em 0.55em;
          transition: all 350ms ease-in-out;
          img {
            margin-right: 0.5em;
            transition: all 400ms;
          }
          &:focus {
            outline-color: transparent;
            img {
              transform: rotate(360deg);
              transition: all 400ms;
            }
          }
          &:hover {
            background: #ebebeb;
            color: $greyLabel;
            transition: all 350ms ease-in-out;
          }
        }
      }
    }
  }

  .box-main-area {
    overflow: hidden;
    padding: 0 1em;

    ol li {
      color: $black;
      line-height: normal;
      margin-bottom: 0.55em;
      a {
        color: #50a8e7;
        position: relative;
        text-decoration: none;
        img,
        span {
          position: relative;
          transition: all 450ms ease-in-out;
        }
        &::before {
          background-color: #f7f7f7;
          content: "";
          height: 100%;
          position: absolute;
          transition: all 350ms ease-in-out;
          width: 0%;
        }
        &:hover {
          span {
            transition: all 450ms ease-in-out;
          }
          &::before {
            transition: all 350ms ease-in-out;
            width: 100%;
          }
        }
      }
    }
    p {
      color: $black;
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.8em;
      @media (min-width: 767px) {
        font-size: 1.05em;
        line-height: 1.89em;
      }
    }
   /*  .quick-code {
      margin: 0.5em 0;
      .hash {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.5em;
        p {
          font-size: 0.8em;
        }
        img {
          cursor: pointer;
          width: 1em;
        }
      }
      .hash.multiline {
        align-items: flex-start;
        flex-direction: column;
        position: relative;
      }
      @media (min-width: 767px) {
        .hash {
          justify-content: space-between;
          padding: 0.7em;
          p {
            font-size: 1em;
            font-weight: 600;
            letter-spacing: 0.55px;
          }
          img {
            filter: invert(0);
            transform: translateX(0%);
            transition: all 350ms ease-in-out;
            width: 1em;
            &:hover {
              filter: invert(1);
              transform: translateX(-100%);
              transition: all 350ms ease-in-out;
            }
          }
        }
      }
    } */
    .twitter-line-menu {
      margin-bottom: 1em;
      & > div {
        a {
          img {
            filter: grayscale(1);
            opacity: 0.3;
          }
        }
      }
    }
  }
}

.table-esp-data {
  background: #f6f7f9;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;

  & > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    & > div {
      background: #fff;
      border-radius: 8px;
      border: 1px solid $grey;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 55px;
      justify-content: center;
      overflow: hidden;
      padding: 0.44em;
      width: 110px;
    }
    span {
      font-size: 1em;
      font-weight: 700;
    }
    p {
      color: $black;
      font-size: 0.88em;
      font-weight: 600;
      letter-spacing: 0;
      margin-bottom: 0;
      margin-top: 0.21em;
    }
  }
}

.box-border {
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  & > div {
    box-sizing: border-box;
    padding: 1em 2em;
    width: 50%;
    &:first-child {
      border-right: 0px solid #e3e3e3;
    }
    &:last-child {
      border-left: 1px solid #e3e3e3;
    }
    h3,
    p {
      margin: 0;
      padding: 0;
    }
    h3 {
      font-size: 1em;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      color: $black;
      font-size: 0.89em;
      font-weight: 600;
    }

    &:nth-child(even) {
      h3 {
        color: $blue;
      }
    }
    &:nth-child(odd) {
      h3 {
        color: $green;
      }
    }
  }
}

.box-info {
  text-align: center;
  p {
    color: $greyLabel;
    font-size: 1em;
    font-weight: 400;
    span {
      color: $black;
      font-size: 0.89em;
      font-weight: 600;
    }
  }
}
