body.dark-mode {
  background: black;
  filter: invert(1) hue-rotate(180deg);
  img {
    filter: invert(1) hue-rotate(180deg) !important;
  }

  a.aux-link-out span img {
    filter: invert(0) hue-rotate(180deg) !important;
  }

  .menu-item-desktop img {
    filter: invert(0) hue-rotate(0deg) !important;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    color: black;
  }

  .box-alert-copy {
    background-color: #000;

    p {
      color: #fff !important;
    }
  }
}

.active-darkmode {
  align-items: center;
  display: flex;
  position: absolute;
  right: 5%;
  top: 5%;
}
