.tooltip {
  background: #0c00a1;
  border-radius: 2px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #fff;
  padding: 0.5em;
  position: absolute;
  transform: translateY(-100%);
  width: fit-content;
  z-index: 9;
}